.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    
    
}

.header__logo {
    width: 100px;
    height: 80px;
    border-radius: 4px;
}

navbar {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

li a {
    display: inline;
    color: white;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;

}