.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 39%, rgba(16,46,96,1) 100%);

}

img {
    margin-top: 20px;
    max-width: 80%;
}